.item { width: 120px;
        height: 170px;
	margin-top: 8px;
	margin-right: 8px;
	text-align: center;
	background-color: #ddd;
	border-radius: 5px;
      }

.item img { margin-top: 10px; }

.title { color: #777; 
         text-transform: capitalize; }