.item { width: 120px;
        height: 170px;
	margin-top: 8px;
	margin-right: 8px;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
      }

.item img { margin-top: 10px; }

.title { color: #777; 
         text-transform: capitalize; }

.thumbtitle { height: 180px; font-size: 10px; line-height: 90%; text-overflow: ellipsis; }
	      

.tag { color: #fff;
       padding: 4px;
       background-color: #88d;
       border-radius: 8px; }