.item { width: 120px;
        height: 170px;
	margin-top: 8px;
	margin-right: 8px;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
      }

.item img { margin-top: 10px; }

.title { color: #777; 
         text-transform: capitalize; }

.thumbtitle { height: 180px; font-size: 10px; line-height: 90%; text-overflow: ellipsis; }
	      

.tag { color: #fff;
       padding: 4px;
       background-color: #88d;
       border-radius: 8px; }

.mangacontainer { 
		  margin-left: auto;
		  margin-right: auto;
		  border: 1px solid black; 
		  width: 1024px;
                }

.manga { text-align: center;
	 position: relative; 
	 overflow: auto; }
    .manga li { list-style: none; }
        .manga ul li { float: left; }

.pageholder { width: 100%;
	      background-color: #000;
	      text-align: center; }

.page { display: block;
      	max-width: 1024px;
        max-height: 1280px;
	width: auto;
	height: auto;
      	}