<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ volume.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Yomiko: {{ volume.title }}">
<meta name="author" content="Application code (C) Kyubi Systems 2021">
<!-- Tiny Slider CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.helper.ie8.js"></script><![endif]-->
<!-- Fullscreen library -->
<script src="{{ url_for('static', filename='js/fullscreen.js') }}"></script>
<!-- Yomiko CSS -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
</head>
<body>
<div class="mangacontainer">
<div class="manga">
{% for p in pages %}
<div class="item"><img class="tns-lazy-img" data-src="{{ url_for('page_image', title_id=title_id, page_num=p.page) }}"></div>
{% endfor %}
</div>
</div>
<!-- Start Tiny Slider JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
<script>
var slider = tns({
      container: '.manga',
      lazyload: true,
      center: true,
      nav: false,
      controlsText: ["<",">"],
      arrowKeys: true,
      autoplay: false
    });
</script>
<!-- End Tiny Slider JS -->
</body>
</html>
